# Python bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Packaging / build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Editors / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Experimental outputs
data/raw/*
data/processed/*

# Keep directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep